.header{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.insta-logo{
    height: 45px;
    width: 150px;
    padding-top: 3%;
    margin-left: 2%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    margin-right: 3%;
}
.profile-image{
    height: 38px;
    margin-top: 7.5px;
    width: 42px;
    border: 1px solid silver;
    border-radius: 50%;
    background-color: silver;
}