.reels-container{
    border: 1px solid red;
    width: 360px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    overflow-x: hidden;
    overflow-y: scroll;
}


.reels-container::-webkit-scrollbar{
    width: 0;
}

.single-post-container{
    width: 360px;
    height: 550px;
    position: relative;
}

.single-post-container video{
    width: 360px;
    height: 550px;
}

.single-post-container h3{
    position: absolute;
    bottom: 20%;
    left: 10%;
    padding: 1px 3px;
    background-color: rgba(223, 211, 211,0.5);
}

  .wrapper-like {
    position: absolute;
    bottom: 150px;
    right: 5%;
    z-index: 20;
}

.wrapper-like p{
    text-align: right;
    margin-top: -18px;
    
}

.like-icon{
    cursor: pointer;
}

.comment-icon {
    position: absolute;
    bottom: 110px;
    right: 5%;
    z-index: 20;
    cursor: pointer;
}

.commentModal{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:50;
    text-align: right;
}

.cmnt-done{
    margin-right: 60px;
}

.close-btn{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(217, 14, 14);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-wrapper{
    height: 80%;
    
    border: 1px solid black;
}